html, body {
    min-height: 100%;
    color: #ffffff;
    height: 100%;
}

body {
    margin: 0;
    font-family: Barlow, sans-serif;
    background: url('../img/person.jpg') center/ cover no-repeat fixed;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Колір затемнення */
    z-index: -1;
    height: 100vh;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    height: 45%;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.header__text {
    font-size: 24px;
    line-height: 1.2;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    padding-top: 3%;
    position: relative;


}

.header__nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-align: center;
    margin-right: 10%;
}

.header__link_active:before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 30px;
    background: white;
    position: absolute;
    top: 0;
    transform: rotate(130deg);
    margin-left: 1.5%;
}

.header__link:before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 30px;
    background: white;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    margin-left: 2%;
    transition: transform 0.3s ease;
    opacity: 0;
}

.header__link:hover:before {
    opacity: 1;
    transform: rotate(130deg);
}

/*=====================================================main==========================================================*/

main {
    max-width: 1200px;
    margin: 0 auto;
    height: 50%;
}
.neon {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}


.container h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.container h1 {
    font-size: 6.2rem;
}

.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

.container h2 {
    font-size: 3.8rem;
}

.container {
    margin-top: 10vh;
}

@keyframes pulsate {

    100% {

        text-shadow:
                0 0 4px #fff,
                0 0 11px #fff,
                0 0 19px #fff,
                0 0 40px #0fa,
                0 0 80px #0fa,
                0 0 90px #0fa,
                0 0 100px #0fa,
                0 0 150px #0fa;

    }

    0% {

        text-shadow: 0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0fa,
        0 0 45px #0fa,
        0 0 55px #0fa,
        0 0 70px #0fa,
        0 0 80px #0fa;
    }
    }



footer{
    margin-top: 10%;
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
    background:rgba(0, 0, 0, 0.5) ;
}











